<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.joe.springboot.aspect.mapper.StudentMapper">


    <insert id="add">
        INSERT INTO student(sno, name, gender)
        VALUES (#{sno}, #{name}, #{gender})
    </insert>

    <update id="update">
        UPDATE student
        SET name = #{name}, gender = #{gender}
        WHERE sno = #{sno}
    </update>

    <delete id="deleteBysno">
        DELETE FROM student
        WHERE sno = #{sno}
    </delete>

    <select id="queryStudentBySno" resultType="cc.joe.springboot.aspect.entity.Student">
        SELECT *
        FROM student s
        WHERE s.sno = #{sno}
    </select>
</mapper>